$black: hsla(0, 0%, 0%, 0.322);
$gray: hsla(240, 5%, 48%, 1);
$light-gray: hsla(0, 0%, 74%, 1);
$cream: hsla(31, 81%, 94%, 1);
$bg-light-gray: hsla(0, 0%, 97%, 1);
$white: hsla(0, 0%, 100%, 1);
$hv-coral: hsla(360, 100%, 81%, 1);
$coral: hsla(360, 96%, 71%, 1);
$green: hsla(165, 66%, 53%, 1);
$blue: hsla(222, 100%, 61%, 1);