@use 'colors' as c;
@use 'fonts' as f;

@mixin button (){
  font-family: f.$poppins;
  color: c.$white;
  background-color: c.$coral;
  box-shadow: 1px 1px 5px 1px c.$black;
  font-weight: 600;
  padding: 8px 29px;
  width: 210px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  &:hover{
    background-color: c.$hv-coral;
  }
  a{
    color: inherit;
  }
}

@mixin  header {
  .nav__header{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    margin-bottom: 2rem;
    .nav__img{
      width: 23px;
      height: 20px;
      cursor: pointer;
    }
  }  
}

@mixin footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: c.$green;
  height: 104px;
  .footer__infos{
    color: c.$white;
    a{
      color: inherit;
      &:hover{
        color: c.$blue;
      }   
    }
  }  
}