@use '../abstract/colors' as c;
@use '../abstract/fonts' as f;

*{
  box-sizing: border-box;
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background: url(/assets/img/svg/form-top.svg) no-repeat;
  background-color: c.$blue;
  font-family: f.$poppins;
  font-weight: 400;
  height: 100vh;
  max-width: 1440px;
  min-width: 360px;
  margin: 0 auto;
}