@use 'reset';
@use 'normalize';
@use '../abstract/colors' as c;
@use '../abstract/fonts' as f;

*{
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: c.$blue;
  font-family: f.$poppins;
  font-weight: 400;
  height: 100vh;
  max-width: 1440px;
  min-width: 360px;
}